
.battery-status {
	margin-left: 2rem;
	opacity: 0.7;
}


.battery-icon {
	position: relative;
	display: inline-block;
	margin-right: 0.2em;
	width: 1.8rem;
	height: 0.8rem;
	border: 1px solid currentColor;
}

.battery-icon::before {
	content: '';
	position: absolute;
	top: 50%;
	right: 100%;
	width: 3px;
	height: 60%;
	background: currentColor;
	transform: translateY(-50%);
}

.battery-icon::after {
	content: '';
	position: absolute;
	top: 2px;
	right: 2px;
	width: calc((100% - 4px) * var(--status));
	height: calc(100% - 4px);
	background: currentColor;
	transition: width 0.3s ease-in-out;
}